---
layout: layout.njk
title: "Qui sommes nous ? — Herbarius"
description: "Qui sommes nous ? — Herbarius, jardin botanique médiéval à Planguenoual. Découvrez l'histoire du jardin et de Florence Goulley."
navCurrent: ""
---

  <main class="page-content">
    <div class="container">

      <h1>Qui sommes nous ?</h1>

      <p>Implanté depuis 2004 à Planguenoual, sur un lieu de biodiversité préservée et ouvert aux vents de la baie de Saint Brieuc, l'Herbarius est né entre les mains de Florence Goulley. Gardienne des lieux depuis sa création, elle a transformé un terrain agricole de 3 hectares de culture intensive en lieu d'équilibre écologique tendant vers l'autonomie alimentaire. Au travers de ses différents savoirs, Florence nous emmène à la découverte de nombreuses plantes médicinales et fleurs comestibles, légumes et fruits rares. Tout au long de la visite de ce jardin, vous voyagerez à travers le temps, toute plante y est symbole et a une signification particulière dans la médecine médiévale.</p>

    </div>
  </main>
